<h1>Welcome {{username}}</h1>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<p>Your Upcoming Event:</p>

<table>
	<tr>
		<th>EventID</th>
		<th>Title</th>
		<th>Start Time</th>
		<th>Location</th>
		<th>Zipcode</th>
		<th>Sponsoring Group</th>
	</tr>
	
{% for line in events %}
	<tr>
		<td>{{line.event_id}}</td>
		<td>{{line.title}}</td>
		<td>{{line.start_time}}</td>
		<td>{{line.location_name}}</td>
		<td>{{line.zipcode}}</td>
		<td>{{line.group_name}}</td>
	</tr>
{% endfor %}
</table>

<p></p>
<p>Your current interest:</p>

<table>
	<tr>
		<th>Category</th>
		<th>Keyword</th>
	</tr>
	
{% for interest in interests %}
	<tr>
		<td>{{interest.category}}</td>
		<td>{{interest.keyword}}</td>
	</tr>
{% endfor %}
</table>

<p></p>

<form action="/search">
    <input type="submit" value="Search for upcoming event" />
</form>

<form action="/create">
    <input type="submit" value="Create a new event" />
</form>

<form action="/rate">
    <input type="submit" value="Rate an event" />
</form>

<form action="/average">
    <input type="submit" value="See average rating of events" />
</form>

<form action="/friend-event">
    <input type="submit" value="See upcoming events of your friends" />
</form>

<form action="/addfriend">
    <input type="submit" value="Add a new friend" />
</form>

<a href="/logout">Logout</a>